
h1{
  color: green; 
  font-style: italic;
}

/*All the elements in the list*/
li{
  color:grey; 
  padding-top: 3px; 
  font-size: 15px; 
}
/* when a phone number is added */
.added{
  color: teal; 
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px; 
  padding: 10px; 
  margin-bottom: 10px;
}
